@media (max-width: 375px) {
    .center {
        padding-left: calc(50% - calc(343px/2));
        padding-right: calc(50% - calc(343px/2));
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 700px;
        background: url(src/header_mobile.jpeg) center no-repeat;
        background-size: cover;
        &__content {
            padding-top: 147px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 36px;
        }
        &__heading {
            font-size: 40px;
            line-height: 49px;
            text-align: center;
            max-width: 262px;
        }
        &__description {
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            max-width: 296px;
        }
        &__button {
            padding: 16px 103.5px;
            font-size: 16px;
            height: 55px;
            max-width: 285px;
        }
        &__button:hover {
            background: rgb(32, 32, 39);
            color: rgb(255, 255, 255);
        }
    }
    .games {
        display: none;
    }
    .mini-games {
        padding-top: 48px;
        padding-bottom: 49px;
        &__heading {
            font-size: 40px;
            line-height: 49px;
        }
        &__content {
            margin-top: 48px;
            gap: 24px;
        }
        &__card {
            flex-direction: column;
            height: auto;
            &-content {
                padding: 29px;
                padding-bottom: 33px;
                width: auto;
            }
            &-heading {
                font-size: 32px;
                line-height: 39px;
                margin-bottom: 16px;
            }
            &-description {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 32px;
                &_short-mobile {
                    max-width: 245px;
                }
            }
            &-button {
                font-size: 16px;
                text-align: center;
                display: block;
            }
            &-img {
                width: 343px;
                height: 285px;
                order: -1;
            }
        }
    }
    .footer {
        height: 100px;
        &__heading {
            font-size: 16px;
            line-height: 20px;
        }
    }
}

@media (min-width: 376px) and (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 200px);
        padding-right: calc(50% - 200px);
    }
}

