
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Montserrat";
}
a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.header {
    background: url(src/welcome.jpeg) center no-repeat ;
    background-size: cover;
    height: 800px;
    &__content {
        padding-top: 196px;
        margin-bottom: 48px;
        display: flex;
        gap: 24px;
        flex-direction: column;
    }
    &__heading {
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        max-width: 769px;
    }
    &__description {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        max-width: 720px;
    }
    &__button {
        color: rgb(255, 255, 255);
        font-family: 'Montserrat';
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        width: 247px;
        height: 66px;
        transition: background-color .4s;
    }
    &__button:hover {
        background-color: #fff;
        color: black;
        cursor: pointer;
    }

}

.games {
    background: url(src/games.jpeg) no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    &__heading {
        color: #fff;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        padding-top: 94px;
    }
    &__description {
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        margin-top: 24px;
        margin-bottom: 72px;
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        row-gap: 0px;
    }
    &__column {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}
.game {
    background: #fff;
    border-radius: 30px;
    transition: transform .4s;
    cursor: pointer;
    &__img {
        height: 314px;
        width: 100%;
    }
    &__info {
        padding: 32px;
        padding-bottom: 36px;
        display: flex;
        gap: 16px;
        flex-direction: column;
    }
    &__number {
        color: rgb(32, 32, 39);
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
        padding: 10px 16px;
        display: block;
        align-self: flex-start;
    }
    &__name {
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left;
        max-width: 314px;
    }
    &_margin {
        margin-top: 32px;
    }
    &:hover {
        transform: scale(1.08);
        
    }
}
