@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
  outline: none;
}

.bold {
  font-weight: 600;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background: url(src/header.jpeg) center no-repeat;
  background-size: cover;
  height: 800px;
}
.header__content {
  padding-top: 196px;
  margin-bottom: 48px;
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.header__heading {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  max-width: 769px;
}
.header__description {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  max-width: 720px;
}
.header__button {
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  padding: 16px 65px;
  height: 66px;
  transition: background-color 0.4s;
}

.games {
  background: url(src/games.jpeg) no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(65, 65, 65, 0.7);
}
.games__heading {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 94px;
}
.games__description {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 24px;
  margin-bottom: 72px;
}
.games__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  row-gap: 0px;
}
.games__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.game {
  background: #fff;
  border-radius: 30px;
  transition: transform 0.4s;
  cursor: pointer;
}
.game__img {
  height: 314px;
  width: 100%;
}
.game__info {
  padding: 32px;
  padding-bottom: 36px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.game__number {
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  padding: 10px 16px;
  display: block;
  align-self: flex-start;
}
.game__name {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  max-width: 314px;
}
.game_margin {
  margin-top: 32px;
}
.game:hover {
  transform: scale(1.08);
}

.mini-games {
  padding-top: 46px;
  padding-bottom: 144px;
  background: url(src/mini-games.jpeg) no-repeat;
  background-size: cover;
}
.mini-games__heading {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}
.mini-games__content {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mini-games__card {
  height: 500px;
  display: flex;
  background-color: white;
  border-radius: 30px;
}
.mini-games__card-content {
  padding: 48px;
  width: 600px;
}
.mini-games__card-heading {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  margin-bottom: 24px;
}
.mini-games__card-description {
  max-width: 497px;
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 52px;
}
.mini-games__card-button {
  border-radius: 60px;
  background: rgb(32, 32, 39);
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 75.5px;
  border: 1px solid black;
  transition: background-color 0.4s;
}

.footer {
  height: 150px;
  background: rgb(189, 237, 53);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}

@media (max-width: 375px) {
  .center {
    padding-left: calc(50% - 171.5px);
    padding-right: calc(50% - 171.5px);
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    background: url(src/header_mobile.jpeg) center no-repeat;
    background-size: cover;
  }
  .header__content {
    padding-top: 147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
  }
  .header__heading {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    max-width: 262px;
  }
  .header__description {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    max-width: 296px;
  }
  .header__button {
    padding: 16px 103.5px;
    font-size: 16px;
    height: 55px;
    max-width: 285px;
  }
  .header__button:hover {
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
  }
  .games {
    display: none;
  }
  .mini-games {
    padding-top: 48px;
    padding-bottom: 49px;
  }
  .mini-games__heading {
    font-size: 40px;
    line-height: 49px;
  }
  .mini-games__content {
    margin-top: 48px;
    gap: 24px;
  }
  .mini-games__card {
    flex-direction: column;
    height: auto;
  }
  .mini-games__card-content {
    padding: 29px;
    padding-bottom: 33px;
    width: auto;
  }
  .mini-games__card-heading {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 16px;
  }
  .mini-games__card-description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
  }
  .mini-games__card-description_short-mobile {
    max-width: 245px;
  }
  .mini-games__card-button {
    font-size: 16px;
    text-align: center;
    display: block;
  }
  .mini-games__card-img {
    width: 343px;
    height: 285px;
    order: -1;
  }
  .footer {
    height: 100px;
  }
  .footer__heading {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 376px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 200px);
    padding-right: calc(50% - 200px);
  }
}/*# sourceMappingURL=style.css.map */